@import 'mixins';
@import 'variables';

:host {
  @include flex-column(0);

  mat-toolbar {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
    background-color: var(--info-bg-40);

    nav {
      @include flex-row(0);
      align-items: center;
      gap: $gap-small;

      img {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }
  }
}
