@import 'mixins';
@import 'variables';

:host {
  @include flex-column(0);

  mat-toolbar {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
    color: var(--primary-foreground);
    background-color: var(--primary-background);

    .logo {
      cursor: pointer;

      &:hover {
        color: var(--primary-foreground-hover);
      }
    }

    nav {
      @include flex-row(0);
      align-items: center;
      gap: $gap-small;

      button {
        &:hover {
          color: var(--primary-foreground-hover);
        }
      }

      img {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }
  }
}
