// padding
$general-padding: 16px;
$general-padding-small: 8px;
$general-padding-x-small: 4px;

// margin
$general-margin: 16px;
$general-margin-small: 8px;
$general-margin-x-small: 4px;

$gap-small: 8px;

// screen width
$lt-sm: 600px;
$lt-md: 960px;
$lt-lg: 1280px;
$lt-xl: 1920px;
