{"swagger": "2.0", "info": {"title": "Endevel blog app", "description": "This is an API solution for a test task given by Endevel.", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "contact@snippets.local"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "endevel-task.doc.endevel.cz", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/": {"get": {"operationId": "Get a list of 3 latest blog posts.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns list of latest 3 Blog posts.", "schema": {"$ref": "#/definitions/BlogPost"}}}, "tags": [""]}, "parameters": []}, "/blog/": {"get": {"operationId": "Returns list of blog posts.", "description": "", "parameters": [{"name": "tags", "in": "query", "description": "Filter blog posts by Tag ID.", "type": "integer"}], "responses": {"200": {"description": "Get a list of blog posts(optional: filtered by Tags).", "schema": {"$ref": "#/definitions/BlogPost"}}, "400": {"description": "Invalid tag ID format."}}, "tags": ["blog"]}, "post": {"operationId": "Create new Blog post.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns created Blog post.", "schema": {"$ref": "#/definitions/BlogPostDetail"}}, "400": {"description": "Invalid data."}}, "tags": ["blog"]}, "parameters": []}, "/blog/{id}/": {"get": {"operationId": "Get details of a Blog post.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns details of a Blog post.", "schema": {"$ref": "#/definitions/BlogPostDetail"}}, "404": {"description": "Blog Post not found."}}, "tags": ["blog"]}, "put": {"operationId": "Update details of a Blog post.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns details of a updated Blog post.", "schema": {"$ref": "#/definitions/BlogPostDetail"}}, "404": {"description": "Blog Post not found."}, "400": {"description": "Invalid data."}}, "tags": ["blog"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/blog/{id}/add_tag/{tag_pk}/": {"put": {"operationId": "Add Tag to a Blog post.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns a Blog post with an added Tag", "schema": {"$ref": "#/definitions/BlogPostDetail"}}, "404": {"description": "Blog Post or Tag not found."}}, "tags": ["blog"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}, {"name": "tag_pk", "in": "path", "required": true, "type": "string"}]}, "/tag/": {"get": {"operationId": "Get a list of Tags.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns a list of Tags.", "schema": {"$ref": "#/definitions/Tag"}}}, "tags": ["tag"]}, "post": {"operationId": "Create a new Tag.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns a created Blog post.", "schema": {"$ref": "#/definitions/Tag"}}, "400": {"description": "Invalid data."}}, "tags": ["tag"]}, "parameters": []}, "/tag/{id}/": {"get": {"operationId": "Get details of a Tag.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns details of a Tag.", "schema": {"$ref": "#/definitions/Tag"}}, "404": {"description": "Tag not found."}}, "tags": ["tag"]}, "put": {"operationId": "Update a Tag.", "description": "", "parameters": [], "responses": {"200": {"description": "Returns details of an updated Tag.", "schema": {"$ref": "#/definitions/Tag"}}, "404": {"description": "Tag not found."}, "400": {"description": "Invalid data."}}, "tags": ["tag"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"BlogPost": {"required": ["title", "detail", "tags"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 150, "minLength": 1}, "detail": {"title": "Detail", "type": "string", "maxLength": 300, "minLength": 1}, "thumbnail": {"title": "Thumbnail", "type": "string", "readOnly": true, "format": "uri"}, "tags": {"type": "array", "items": {"type": "integer"}, "uniqueItems": true}}}, "BlogPostDetail": {"required": ["title", "detail", "text", "tags"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 150, "minLength": 1}, "detail": {"title": "Detail", "type": "string", "maxLength": 300, "minLength": 1}, "text": {"title": "Text", "type": "string", "maxLength": 3000, "minLength": 1}, "image": {"title": "Image", "type": "string", "readOnly": true, "format": "uri"}, "thumbnail": {"title": "Thumbnail", "type": "string", "readOnly": true, "format": "uri"}, "tags": {"type": "array", "items": {"type": "integer"}, "uniqueItems": true}}}, "Tag": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Tag name", "type": "string", "maxLength": 100, "minLength": 1}}}}}