@import 'variables';
@import 'mixins';

:host {
  @include flex-row(0);

  background-color: var(--primary-90);
  color: var(--primary-0);
  padding: $general-padding-small $general-padding;
  font-size: var(--font-size-14);
}
