<div class="flex m-4 gap-4">
  <button class="left cursor-pointer flex h-11 w-11 items-center justify-center rounded-full bg-[#fff8dc] transition group-hover:bg-black rtl:rotate-180" (click)="moveLeft()">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black transition group-hover:text-[#fff8dc]">
      <path d="M9.41083 14.4109L10.5892 15.5892L16.1783 10.0001L10.5892 4.41089L9.41083 5.58922L12.9883 9.16672H5V10.8334H12.9883L9.41083 14.4109Z" fill="currentColor" />
    </svg>
  </button>
  <button class="right cursor-pointer flex h-11 w-11 items-center justify-center rounded-full bg-[#fff8dc] transition group-hover:bg-black rtl:rotate-180" (click)="moveRight()">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black transition group-hover:text-[#fff8dc]">
      <path d="M9.41083 14.4109L10.5892 15.5892L16.1783 10.0001L10.5892 4.41089L9.41083 5.58922L12.9883 9.16672H5V10.8334H12.9883L9.41083 14.4109Z" fill="currentColor" />
    </svg>
  </button>
</div>
