@import 'variables';
@import 'mixins';

:host {
  @include flex-column();
  align-items: center;
  background-color: var(--secondary-background);

  .post-list {
    @include flex-column();
    align-items: center;
  }

  .container {
    @include flex-column();
    align-items: center;
    padding: $general-padding 0;

    h2 {
      color: var(--primary-foreground);
    }

    .posts {
      @include flex-column();
      @include flex-center();
      gap: $gap-small;
      flex: 1;
    }
  }

  mat-spinner {
    @include flex-column();
    align-self: center;
    justify-self: center;
  }
}
