@import 'mixins';
@import 'variables';

:host {
  button {
    height: 24px;
    padding: $general-padding-x-small;
    background-color: var(--primary-background);

    &:hover {
      background-color: var(--secondary-background);
    }
  }
}
