@import 'variables';
@import 'mixins';

:host {
  @include flex-column(1, hidden);
  position: relative;
  margin-top: #{ 8 * $general-margin-small };

  .container {
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    ::ng-deep {
      #tsparticles {
        height: 320px;
        width: 100vw;
      }
    }

    .title {
      font-size: var(--font-size-22);
      color: var(--primary-foreground);
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
