/* You can add global styles to this file, and also import other style files */

@import 'scss/main.scss';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));

  ul {
    margin-bottom: 0;
  }
}

:root {
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;

  --heading-large: 32px;
  --heading-medium: 24px;
  --heading-small: 20px;

  --body-large: 16px;
  --body-medium: 14px;
  --body-small: 12px;

  --label-large: 10px;
  --label-small: 8px;

  // colors
  --primary-100: #1F1F1F;
  --primary-90: #262626;
  --primary-80: #333333;
  --primary-70: #4C4C4C;
  --primary-60: #666666;
  --primary-50: #808080;
  --primary-40: #999999;
  --primary-30: #B3B3B3;
  --primary-20: #CCCCCC;
  --primary-10: #E6E6E6;
  --primary-5: #F2F2F2;
  --primary-0: #FFFFFF;

  --info-fg-100: #FFFFFF;
  --info-bg-100: #0D2D6B;
  --info-fg-80: #FFFFFF;
  --info-bg-80: #206FEB;
  --info-fg-40: #08538D;
  --info-bg-40: #79C0FF;
  --info-fg-20: #08538D;
  --info-bg-20: #CAE8FF;

  --success-fg-100: #FFFFFF;
  --success-bg-100: #053A15;
  --success-fg-80: #FFFFFF;
  --success-bg-80: #228636;
  --success-fg-40: #117551;
  --success-bg-40: #56D364;
  --success-fg-20: #117551;
  --success-bg-20: #AFF5B4;

  --error-fg-100: #FFFFFF;
  --error-bg-100: #67090D;
  --error-fg-80: #FFFFFF;
  --error-bg-80: #DA3633;
  --error-fg-40: #962222;
  --error-bg-40: #FFA198;
  --error-fg-20: #962222;
  --error-bg-20: #FFDAD5;

  --warning-fg-100: #FFFFFF;
  --warning-bg-100: #A9781B;
  --warning-fg-80: #FFFFFF;
  --warning-bg-80: #F2AB26;
  --warning-fg-40: #A9781B;
  --warning-bg-40: #F7CD7D;
  --warning-fg-20: #A9781B;
  --warning-bg-20: #FFDAD5;
}
