/* You can add global styles to this file, and also import other style files */

@import 'scss/main.scss';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));

  ul {
    margin-bottom: 0;
  }
}

:root {
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;

  --heading-large: 32px;
  --heading-medium: 24px;
  --heading-small: 20px;

  --body-large: 16px;
  --body-medium: 14px;
  --body-small: 12px;

  --label-large: 10px;
  --label-small: 8px;

  // colors

  --primary-background: #212529;
  --secondary-background: #202026;
  --primary-foreground: #fff8dc;
  --primary-foreground-hover: #0bceaf;

  --primary-100: #1F1F1F;
  --primary-90: #262626;
  --primary-80: #333333;
  --primary-70: #4C4C4C;
  --primary-60: #666666;
  --primary-50: #808080;
  --primary-40: #999999;
  --primary-30: #B3B3B3;
  --primary-20: #CCCCCC;
  --primary-10: #E6E6E6;
  --primary-5: #F2F2F2;
  --primary-0: #FFFFFF;
}
