<div data-aos="fade-up" data-aos-duration="1000">
  <div class="group rounded-3xl bg-gray-800 p-6 transition border-transparent border-2 duration-500 hover:border-[#0bceaf]">
    <div class="flex items-center justify-center rounded-full bg-secondary transition">
      <img class="rounded-lg object-cover min-h-[180px]" *ngIf="!missingImage" [src]="post.thumbnail" (error)="error($event)">
      <div *ngIf="missingImage" class="no-img rounded-lg object-cover flex items-center justify-center min-h-[180px]">
        <img class="rounded-lg object-cover min-h-[180px]" [src]="'/assets/images/missing-image.png'">
      </div>
    </div>
    <a [routerLink]="'blog/' + post.id" class="my-8 inline-block text-[22px] font-extrabold text-black line-clamp-2 text-[#fff8dc] min-h-[64px]">{{ post.title }}</a>
    <p class="mb-10 text-lg transition line-clamp-3 text-[#fff8dc] min-h-[88px]">{{ post.detail }}</p>
    <a [routerLink]="'blog/' + post.id" class="flex h-11 w-11 items-center justify-center rounded-full bg-[#fff8dc] transition group-hover:bg-black rtl:rotate-180">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-black transition group-hover:text-[#fff8dc]">
        <path d="M9.41083 14.4109L10.5892 15.5892L16.1783 10.0001L10.5892 4.41089L9.41083 5.58922L12.9883 9.16672H5V10.8334H12.9883L9.41083 14.4109Z" fill="currentColor" />
      </svg>
    </a>
  </div>
</div>
